html{
    margin:0;
    padding:0;
    min-width: 100%;
    max-width: 100%;
}

body{
    background-color: sandybrown;
    header{
        font-size: 0.9em;
        text-align: center;
        color:#fff;
        text-shadow: 0 0 10px brown;
    }
    main{
        display: flex;
        justify-content: center;        
        form{
            display:inline;
        input{
            width:20%;
            text-align: center;
            padding:2px;
            border-radius: 0.5em;
        }
        button{
            width:50%;
            border-radius: 0.5em;
        }
        }
    }
}

